{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "varsIgnorePattern": "^_" }]
  }
}
